/* ---------------header--------------- */
#header {
  background-color: #161616;
}
body
{
    background-color: #161616;
}
.container-fluid {
  padding: 1% 2%;
}
.logo-image{
  width: 90px;
  height: auto;
  margin-left: 40px;
}
.navbar {
  padding-left: 0px;
}
.nav-item {
  font-family: 'Lato';
  padding: 0.3rem;
  font-size: 1rem;
  text-align: center;
}

.nav-item
{
  color: #ffffff;
}
a:hover
{
  color: #D13532;

}
.nav-link:hover
{
  border: solid;
  border-top: 1px;
  border-right: 1px;
  border-left: 1px;
  border-color: #D13532;
}


.header-title {
margin-bottom: 10%;
padding: 5%;
}


/* ---------------section1--------------- */
#sec1
{
  margin: 3%;

}
  .sec1-title
{
  text-align: center;
  padding-bottom: 0.5%;
  color: #D13532;
}


/* ---------------section2--------------- */
#sec2 {
  text-align: center;
  position: relative;
  margin-bottom: 2%;
}


.sec2-image {
  width: 50%;
  height: 30%;
}


/* ---------------footer--------------- */

#footer {
  color: #f7f7f7;
  font-size: 0.8rem;
  padding: 0% 3%;
}
.footer_box1,.footer_box2,.footer_box3
{
  padding: 3% 1% 1% 1%;
}
.col-lg-4.footer_box1
{
text-align: center;
}
.col-lg-4.footer_box2
{
text-align: center;
}
.col-lg-4.footer_box3
{
text-align: center;
}
.footer_box2{
  text-align: center;
}
